@use '../Foundation/' as va;

.flex-row {
  display: flex;
  align-items: center;
}

.l-footer {
  padding: 30px;

  &_inner {
    @extend .flex-row;
    flex-direction: column;
    justify-content: center;
  }

  &_title-with-icon {
    display: flex;
    align-items: center;
    gap: 0.24rem;
    font-size: 0.24rem;
  }

  &_horizon {
    background-color: va.$Horizon;
    width: 400px;
    height: 2px;
    margin-top: 20px;
  }

  &_friends {
    @extend .flex-row;
    width: 50%;
    justify-content: space-evenly;
    margin-top: 20px;
  }
}

@media screen and (max-width: 599px) {
  .l-footer {
    &_title-with-icon {
      gap: 0.2rem;
      font-size: 0.2rem;
    }

    &_horizon {
      width: 300px;
    }

    &_friends {
      font-size: 0.14rem;

      & > p {
        text-align: center;
      }
    }
  }
}
