@use '../Foundation/' as va;

.flex-center {
  display: flex;
  align-items: center;
}

.l-header {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: va.$ZHeader;
  width: 100%;
  background-color: va.$Base;

  &-edit {
    background-color: va.$Main;
    box-shadow: 0 0 8px va.$Horizon;
  }

  &_inner {
    @extend .flex-center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0.2rem 0.4rem;
  }

  &_content {
    @extend .flex-center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;

    &-title {
      @extend .flex-center;
      gap: 0.24rem;
      font-size: 0.24rem;
      cursor: pointer;
    }

    &-menu {
      @extend .flex-center;
      gap: 0.25rem;
      position: relative;
    }
  }
}

@media screen and (max-width: 599px) {
  .l-header {
    &_inner {
      padding: 0.2rem 0.2rem;
    }

    &_content {
      &-title {
        gap: 0.12rem;
        font-size: 0.2rem;
      }

      &-menu {
        gap: 0.2rem;
      }
    }
  }
}
