@use '../../Foundation/' as va;

.flex-column {
  display: flex;
  flex-direction: column;
}

.base-label-style {
  display: inline-block;
  font-size: va.$Sentence;
  margin-left: 10px;
}

.base-form-style {
  display: inline-block;
  outline: none;
  transition: all 0.2s;

  &:focus {
    box-shadow: 0 0 0 2.5px va.$FocusForm;

    & + button {
      transition: all 0.25s;
      color: va.$FocusForm;
    }
  }
}

.c-form {
  @extend .flex-column;

  &.search-label {
    position: relative;
    transition: 0.2s;
  }

  & > label {
    @extend .base-label-style;
  }

  & > input {
    @extend .base-form-style;
  }

  & > textarea {
    @extend .base-form-style;
    resize: none;
  }

  &-form {
    &_input {
      font-size: 32px;
      padding: 0 !important;

      &:focus {
        box-shadow: none !important;
      }
    }
    &_textarea {
      width: 600px;
      padding: 30px;
      min-height: 300px;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
      border-radius: 15px;
      background: rgba(112, 112, 112, 0.1);
      border-top: 1px solid rgba(112, 112, 112, 0.5);
      border-left: 1px solid rgba(112, 112, 112, 0.5);
      backdrop-filter: blur(5px);

      &:focus {
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5) !important;
      }
    }
  }

  &-search {
    width: 100%;
    height: 42px;
    border-radius: 50px;
    background-color: va.$Base;
    color: va.$Text !important;
    font-size: 16px !important;

    &-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      z-index: va.$ZIcon;
    }
  }
}
