@use '../../Foundation/' as va;

.flex-column {
  display: flex;
  flex-direction: column;
}

.base-label-style {
  display: inline-block;
  font-size: va.$Sentence;
  margin-left: 10px;
}

.base-form-style {
  display: inline-block;
  outline: none;
  transition: all 0.2s;

  &:focus {
    box-shadow: 0 0 0 2.5px va.$FocusForm;

    & + button {
      transition: all 0.25s;
      color: va.$FocusForm;
    }
  }
}

.c-form {
  @extend .flex-column;

  &_label {
    font-size: 0.16rem !important;
    margin-bottom: 0.2rem;
  }

  & > label {
    @extend .base-label-style;
  }

  & > input {
    @extend .base-form-style;
    &:focus {
      box-shadow: none !important;
    }
  }

  & > textarea {
    @extend .base-form-style;
    resize: none;
  }

  &.search-label {
    position: relative;
    transition: 0.2s;
  }

  &-hidden {
    visibility: hidden;
  }

  &-form {
    // 緑背景付きinput
    &-isBg {
      border-radius: 0.45rem;
      border: 1px solid va.$Horizon;
      background-color: va.$FormBackground !important;
      padding: 0.15rem 0.1rem;
      color: va.$Base;
      width: 400px !important;

      &::placeholder {
        color: va.$Base;
        opacity: 0.5;
        font-size: 0.16rem;
      }
    }

    &_textarea {
      width: 600px;
      padding: 30px;
      min-height: 300px;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
      border-radius: 15px;
      background: rgba(112, 112, 112, 0.1);
      border-top: 1px solid rgba(112, 112, 112, 0.5);
      border-left: 1px solid rgba(112, 112, 112, 0.5);
      backdrop-filter: blur(5px);
      position: relative;

      &_message {
        text-align: center;
        color: va.$Horizon;
      }

      &:focus {
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5) !important;
      }

      &.preview::before {
        position: absolute;
        right: 0px;
        top: 0;
        content: 'Preview';
        display: inline-block;
        padding: 3px 10px;
        font-weight: 500;
        background: #f9e61f;
        color: #000;
        font-size: 0.13rem;
        border-radius: 0px 15px 0px 7px;
      }
    }
  }

  &-search {
    width: 100%;
    height: 42px;
    border-radius: 50px;
    background-color: va.$Base;
    color: va.$Text !important;
    font-size: 16px !important;

    &-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      z-index: va.$ZIcon;
    }
  }

  &-image {
    background-color: va.$Base;
    border-radius: 50%;
    border: 1px solid va.$Horizon;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    & > input {
      display: none;
    }
  }
}

#description-form {
  box-shadow: none;

  &:focus {
    box-shadow: none !important;
  }
}
