@use '../../Foundation/' as va;

.c-toast {
  height: 40px;
  color: va.$Base;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: va.$ZToast;
  animation: login-fade-animation 7s ease 0s 1 forwards;

  &_btn {
    padding: 2px 5px 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-left: 5px;

    &:hover {
      background-color: #1c5135;
    }
  }

  &_icon {
    color: va.$Base;
    font-size: 20px;
    margin-right: 20px;
  }
}

@keyframes login-fade-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
