@use '../../Foundation/' as va;

.success {
  background-color: va.$CSuccess;
}
.error {
  background-color: va.$CError;
}
.warning {
  background-color: va.$CWarning;
}
.info {
  background-color: va.$CInfo;
}
