@use '../../Foundation/' as va;

.u-icon-text {
  line-height: 35px;
  height: 40px;
}

// toastにテキストとreact-loader-spinnerがchildrenになっている場合のスタイル
.u-toast-text-loader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.u-icon-btn {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.u-text-error {
  color: va.$CError;
  padding-left: 15px;
  margin-bottom: 15px;
}
