@use '../../Foundation/' as va;

.u-icon-text {
  line-height: 35px;
  height: 40px;
}

.u-icon-btn {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.u-text-error {
  color: va.$CError;
  padding-left: 15px;
  margin-bottom: 15px;
  height: 20px;
}
