@use '../../Foundation/' as va;

.p-card {
  &_article {
    padding: 0.2rem 0.14rem;
    max-height: calc(1200px * 0.345);

    &_user {
      display: flex;
      align-items: center;
      gap: 8px;
      color: va.$Main;

      &:hover {
        color: va.$FocusForm;
      }
    }

    &_content {
      margin-top: 11px;
      &_img {
        width: 100%;
        height: 175px;
        object-fit: cover;
      }

      &_title {
        margin-top: 12.4px;
        height: 0.42rem;
        color: va.$Main;

        &:hover {
          color: va.$FocusForm;
        }
      }
    }

    &_status {
      margin-top: 11px;
      color: va.$Main;
      font-size: 0.12rem;
    }
  }
}
