@use '../../Foundation/' as va;

.p-section {
  padding: 0.56rem;
  padding-top: 0.4rem;
  width: 100%;

  &-article {
    background-color: va.$Main;
  }

  &_inner {
    max-width: va.$ContentMaxWidth;
  }

  &_content {
    max-width: va.$SectionMaxWidth;
    margin: 0 auto;
  }

  &_title {
    font-size: 0.3745rem;
    margin-top: 0.37rem;
  }
}
