@use '../../Foundation/' as va;

.p-section {
  padding: 0.56rem;
  padding-top: 0.4rem;
  width: 100%;

  /*
    * sectionごとのスタイル
    */
  &-article {
    background-color: va.$Main;
  }

  &-article-featured {
    background-color: va.$Base;
  }

  &-create-article {
    background-color: va.$Main;
    min-height: 100vh;
  }

  /*
    * ネスト
    */
  &_inner {
    max-width: va.$ContentMaxWidth;
    margin: 0 auto;
  }

  &_content {
    max-width: va.$SectionMaxWidth;
    margin: 0 auto;

    &_forms {
      margin: 0.4rem auto 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 700px;

      &_contents {
        display: flex;
        align-items: flex-start;
        gap: 0.45rem;
        margin-top: 80px;
      }

      &-buttons {
        display: flex;
        flex-direction: column;
        gap: 0.32rem;
      }
    }
  }

  &_title {
    font-size: 0.3745rem;
    margin-top: 0.37rem;
  }
}
